#library .top
	display: flex

	height: 50px
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)

#library h1
	flex-grow: 1

	height: 50px
	padding: 0 15px

	line-height: 50px
	text-align: left
	font-size: 20px
	font-weight: 400

#library a.toPlayer
	display: block

	height: 50px
	width: 50px

	background: url('/assets/icon_player.png') no-repeat center
	cursor: pointer


#library .items
	height: calc(100% - 51px)
	overflow: auto


#library .item
	display: flex
	align-items: center

	width: 100%
	padding: 15px

	border-bottom: 1px solid #eee
	cursor: pointer


#library .cover
	width: 48px
	height: 48px

	background-position: center
	background-repeat: no-repeat
	background-size: cover

	border-radius: 3px

#library .playing
	display: block

	position: relative
	top: 10px
	left: 34px

	width: 30px
	height: 30px

	background: white url('/assets/icon_playing.png') no-repeat center
	border-radius: 50%


#library .title
	flex-grow: 1
	padding: 0 16px

	text-align: left

#library .date
	color: rgba(black, 0.6)
	font-size: 13px
