$c_player_bg: #26272B

$c_player_seek: #F13857
$c_player_seek_bg: darken($c_player_bg, 15%)
$c_player_seeker: lighten($c_player_seek, 5%)

$s_player_height: 60px
$s_player_button_height: 48px

$s_statusbar_height: 20px


*
	margin: 0
	padding: 0
	outline: none
	border: none
	box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	font-family: 'Roboto', arial, sans-serif


@import player
@import library
@import statusbar
