.container
	width: 98%
	max-width: 480px
	margin: 25px auto

	border: 1px solid #ccc


.player
	border-bottom: 1px solid #ccc

.player a
	display: inline-block
	height: 40px
	width: 40px

	margin: 10px

	background: #eee
	border-radius: 50%

	text-align: center
	line-height: 40px
