doctype html
html
	head
		title Music Player
		meta(name='viewport' content='width=device-width,initial-scale=1')
		meta(name='robots' content='noindex,nofollow')

		link(rel='stylesheet' href='/assets/css/style.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500')
		link(rel='stylesheet' href='https://use.fontawesome.com/5de0b86239.css')

		script(src='/assets/js/app.min.js')

	body(data-bind='event: {mousemove: player.ui.onMove, touchmove: player.ui.onMoveTouch, mouseup: player.ui.onDrop, touchend: player.ui.onDrop, keydown: player.ui.onKey}')

		#app(data-bind='css: app')

			#library
				.top
					h1 My music
					a.toPlayer(data-bind='click: showPlayer, visible: library.currentTrack')
				.items(data-bind='foreach: library.trackList')
					.item(data-bind='click: $parent.selectTrack.bind($data, id)')
						.cover(data-bind='style: {backgroundImage: "url(" + image + ")"}, if: playing')
							span.playing
						span.title(data-bind='text: title')
						span.date(data-bind='text: date')


			#player(data-bind='if: library.currentTrack')

				.cover(data-bind='style: {backgroundImage: "url(" + library.currentTrack().image + ")"}')
					a.back(data-bind='click: showLibrary')
					#visualiser(data-bind='if: player.visualiser')
						.visualiserContents(data-bind='foreach: player.visualiser.data')
							.visualiserBar(data-bind='style: {height: $data}')
				.title(data-bind='text: library.currentTrack().title()')
				.info(data-bind='text: library.currentTrack().instrumentsLabel')

				.button(data-bind='click: player.togglePlayPause, css: player.state')

				.tracker
					.time(data-bind='text: player.ui.timeLabel')
					.catch(data-bind='click: player.ui.onSeek, event: {touchstart: player.ui.onDragTouch}')
						.bar
							.fill(data-bind='style: {width: player.ui.timePercentage}')
						.seeker(data-bind='style: {left: player.ui.timePercentage}, css: {active: player.ui.seeking}, event: {mousedown: player.ui.onDrag, touchstart: player.ui.onDragTouch}')



		#copy Icons by Icons8.com #[br]Music &amp; Code by Wouter Buckens #[br]Reproduction, distribution or any kind of use of this music is not allowed


		script init();
